/* Ключевые кадры анимации */
@keyframes move {
	from {
		margin-left: 0;
	}
	10% {
		background: url(../img/GoRm2b4-Ku8.jpg);
		background-size: 100%; 
	}
	30% {
		padding: 20px 20px;
		background-color: blue;
		margin-top: 100px;
	}
	50% {
		border-radius: 100px;
		padding: 30px 0;
		border: 10px solid yellow;
	}
	80% {
		background: url(../img/AAORgLZfvX8.jpg);
		background-size: 100%;
	}
	to {
		margin-left: 400px;
	}
}
.box {
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: move;
	animation-duration: 5s;
	margin-top: 400px;
	animation-timing-function: cubic-bezier(0,1.92,.51,-0.95);
	animation-delay: s;
	animation-iteration-count: infinite;
}